*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geral {
    overflow: scroll;
    background: rgba(40, 172, 14, 0.5);
    border-radius: 7px;
    height: 100vh;
    border: 2px solid black;
       
}

.tudojunto {
    margin: 7px;
    padding: 7px;
    border: solid 2px black;
    border-radius: 5px;
}

.img {
   text-align: center;
   height: 160px;
}

.titulo {
    text-align: center;
    margin-bottom: 10px;
}

.conteiner1 {
    padding-left: 15px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    
    
    
}
.conteiner1 input {
    width: 250px;
}

.conteiner2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    gap: 15px;
    font-size: 14px;
    overflow: hidden;
    flex-wrap: wrap;
}

.conteiner2 input {
    overflow: hidden;
}

select {
    height: 30px;
}

#hora{
  height: 30px;
  width: 100px;
}

.conteiner3 {
    padding-right:80px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 15px;
  
}

.botao1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao{
    background: black;
    color: white;
    width: 100px;
    height: 30px; 
    margin-top: 40px;
}

.tabela {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.form-container {
    margin: 20px 0;
}
input {
    padding: 10px;
    margin: 5px;
    width: 150px;
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}